<include file="Shared:Header" />
<form id="FF" method="post">
    <div id="tools" class="tools">
        {:W('RolePerm/RolePermTop')}
    </div>
    <div id="search" class="search">
        <table border="0" class="SearchTable" cellpadding="3">
            <thead>
            <tr>
                <td>公司类型：</td>
                <td>
                    <input id="CompType" name="CompType" type="text" />
                </td>
                <td>资质名称及级别：</td>
                <td>
                    <input id="ZiziName" name="ZiziName" type="text" />
                </td>
                <td>
                    <input id="btnSearch" onclick="$.XB.search();" type="button" value="查 询">
                </td>

            </tr>
            </thead>
        </table>
    </div>
    <div id="tabelContent" class="tabelContent">
        <table id="DataList"></table>
    </div>
</form>
<script type="text/javascript">
    $(function () {
        var frozenColumns = [
            { field: 'ID', checkbox: true },
            { field: 'CompType', title: '公司类型', width: 160 },
            { field: 'ZiziName', title: '资质名称及级别', width: 160 },
            { field: 'Tel', title: '联系电话', width: 120 },
        ];
        var columns = [
            { field: 'CompAddr', title: '地址所在地', width: 150,sortable:true},
            { field: 'Price', title: '转让价格（万元）', width: 120, sortable: true },
			{ field: 'AddTime', title: '提交时间', width: 130, sortable: true },
            { field: 'OperatorName', title: '操作人', width: 70, sortable: true },
            { field: 'UpdateTime', title: '审核时间', width: 130, sortable: true },
        ];
        $.XB.datagrid({ "frozenColumns": frozenColumns, "columns": columns });
        $.XB.enter();
    });
</script>
{:W('RolePerm/RolePermBottom')}

<include file="Shared:Footer" />