<layout name="layout/nav"/>
<div class="clear"></div>
<style type="text/css">
    .ul_perfl .cur{
        color: #3a7dff;
        border-left: 2px solid #3a7dff
    }
    .tips{
        font-size: 12px;
    }
</style>
<!--menu end-->

<div class="" style="padding: 40px 0 60px 0;">
    <div class="w1200 per_box">
        <div class="fl perflbar">
            <p class="per_fltil">个人中心</p>
            <ul class="ul_perfl">
                <if condition="session('loginfo')['Mtype'] eq 1">
                    <include file="Layout/genneral_nav" />
                </if>
                <if condition="session('loginfo')['Mtype'] eq 2">
                    <include file="Layout/personnel_nav" />
                </if>
                <if condition="session('loginfo')['Mtype'] eq 3">
                    <include file="Layout/company_nav" />
                </if>
            </ul>
        </div>
        <div class="fr perrgcon">
            <div class="rg_til">
                <span>账户安全</span>
            </div>

            <div class="rgcon">
                <dl class="dl_per">
                    <dd class="fl">原密码：</dd>
                    <dt class="fl">
                        <input type="password" name="" style="width:160px;" class="per_input"  id="old" >
                        <span class="tips">请输入原来的密码</span>
                    </dt>
                    <div class="clear"></div>
                </dl>

                <dl class="dl_per">
                    <dd class="fl">新密码：</dd>
                    <dt class="fl">
                        <input type="password" name="" style="width:160px;" class="per_input" id="new" >
                        <span class="tips">密码为6-30位的字母或数字或_或.的组合</span>
                    </dt>

                    <div class="clear"></div>
                </dl>

                <dl class="dl_per">
                    <dd class="fl">确认密码：</dd>
                    <dt class="fl">
                        <input type="password" name="" style="width:160px;" class="per_input" id="aga" >
                        <span class="tips">密码与新密码保持一致</span>
                    </dt>
                    <div class="clear"></div>
                </dl>

                <dl class="dl_per">
                    <dd class="fl">&nbsp;</dd>
                    <dt class="fl">
                        <a href="javascript:void(0)" onclick="savepassword()" class="btn_red">确定</a>
                    </dt>
                    <div class="clear"></div>
                </dl>
            </div>

        </div>
        <div class="clear"></div>
    </div>
</div>

<!--end-->
<script type="text/javascript" src="__PUBLIC__/artDialog/artDialog.min.js"></script>
<link rel="stylesheet" href="__PUBLIC__/artDialog/skins/aero.css">
<script type="text/javascript" src="__PUBLIC__/artDialog/iframeTools.js"></script>
<script type="text/javascript">
    function showTips(obj) {
        $(obj).next().show()
    }
    function savepassword() {
        var oldpass=$.trim( $('#old').val() )
        var newpass=$.trim( $('#new').val() )
        var agapass=$.trim( $('#aga').val() )

        if(oldpass==''){
            XB.Tip('请输入原密码')
            return false
        }
        if(newpass==''){
            XB.Tip('请输入新密码')
            return false
        }
        if(agapass==''){
            XB.Tip('请再次输入新密码')
            return false
        }
        if(agapass!==newpass){
            XB.Tip('两次输入的密码不一致')
            return false
        }

        $.post("{:U('Safe/savepassword')}",{oldpass:oldpass,newpass:newpass,agapass:agapass},function (data) {
            console.log(data)
            if(data.result==1){
                XB.msg(data.message);
                setTimeout(function () {
                    window.location.href="{:U('Login/logout')}"
                },1500)
            }else{
                XB.Tip(data.message)
            }
        },'json')

    }
</script>
          

