		<include file="Layout/header"/>
		<div class="login_top">
       		<a href="<?php echo U('Index/index');?>" class="center" style="display: block; padding-top: 50px;">
       			<img src="__PUBLIC__/images/login_logo.png" style="width: 86px;">
       		</a>
       	</div>

       	<section style="margin:40px;">
			<form action="#" method="post" id="formf">
				<section class="weui_reg">
					<input class="weui-input " id="Mobile" name="Mobile" value="" type="text" placeholder="请输入手机号" style="padding-left:0; background: none;"  onkeyup="this.value=this.value.replace(/\D/g,'')" onafterpaste="this.value=this.value.replace(/\D/g,'')">
				</section>
				<section class="weui_reg">
					   <input class="weui-input icon_regem" name="ImgCode" id="ImgCode" type="text" value="" style="width: 60%;" placeholder="图形验证码">
					   <img style="width:36%;display: inline-block;vertical-align: middle" src="<?php echo U('Common/selfverify');?>" id="imgValidateCode" onclick="this.src='<?php echo U('Common/selfverify');?>#'+Math.random();" height="38" width="100px">
					   <div class="clear"></div>
				   </section>
				<section class="weui_reg">
					<input class="weui-input " id="Password" name="Password" value="" type="number" placeholder="请输入验证码" style="padding-left:0; background: none;">
					<a href="javascript:void(0);" id="getcode" onclick="getcode()" class="huo_code" style="color: #FF9300">发送验证码</a>
				</section>
				<if condition="$enable1 == 1 "> 
					<section class="weui-agree">
					   <label for="weuiAgree" class="select_agree" id="agreen1" style="padding-left: 35px">
						   <span id="weuiAgree" class="weui-agree__text">
								我已阅读并同意
					  		</span>
					   </label>
					   <a href="{:U('News/pages',array('ID'=>5))}" style="color: #5461eb;">{$title1}</a>
				   </section>
				</if>

				<if condition="$enable2 == 1 "> 
					<section class="weui-agree">
					   <label for="weuiAgree" class="select_agree" id="agreen2" style="padding-left: 35px">
						   <span id="weuiAgree" class="weui-agree__text">
								我已阅读并同意
					  		</span>
					   </label>
					   <a href="{:U('News/pages',array('ID'=>8))}" style="color: #5461eb;">{$title2}</a>
				   </section>
				</if>

				<if condition="$enable1 == 3 "> 
					<section class="weui-agree">
					   <label for="weuiAgree" class="select_agree" id="agreen3" style="padding-left: 35px">
						   <span id="weuiAgree" class="weui-agree__text">
								我已阅读并同意
					  		</span>
					   </label>
					   <a href="{:U('News/pages',array('ID'=>9))}" style="color: #5461eb;">{$title3}</a>
				   </section>
				</if>
				

				<input type="hidden" name="ip" id="IP" value="">
				<input type="hidden" name="city" id="City" value="">

				<input type="hidden" name="ServiceOpenid" id="ServiceOpenid" value="{$wxinfos.openid}">
				<input type="hidden" name="Unionid" id="Unionid" value="{$wxinfos.unionid}">
				<input type="hidden" name="HeadImg" id="HeadImg" value="{$wxinfos.headimgurl}">
				<input type="hidden" name="PhoneType" id="PhoneType">
				<p class="center" style="padding: 10px;">
					<a href="{:U('Forgetpwd/stepone')}" class="fl" style="color: #5461EB">忘记密码？</a>
					<a href="{:U('Register/index')}" class="fr" style="color:#ffa200;">注册登录</a>
				<div class="clear"></div>
				</p>

				<section style="padding: 30px 0;">
					<a href="javascript:void(0);" onclick="fn_login()" class="btn_want" style="width: 80%;">登录</a>
				</section>
			</form>
		</section>

	    <!---->
		<include file="Layout/footer"/>
		<div id="uclogins"></div>
		<script type="text/javascript">
			$(function () {
				$("#agreen1").on("click",function () {
					if($(this).hasClass("select_refuse")){
						$(this).attr("class","select_agree");
					}else{
						$(this).attr("class","select_refuse");
					}
				});
				$("#agreen2").on("click",function () {
					if($(this).hasClass("select_refuse")){
						$(this).attr("class","select_agree");
					}else{
						$(this).attr("class","select_refuse");
					}
				});
				$("#agreen3").on("click",function () {
					if($(this).hasClass("select_refuse")){
						$(this).attr("class","select_agree");
					}else{
						$(this).attr("class","select_refuse");
					}
				});
			});
			//启用倒计时
			function times() {
				var setTime;
				var time = 60;
				setTime = setInterval(function () {
					if (time <= 0) {
						clearInterval(setTime);
						//添加事件
						$("#getcode").attr("onclick", "getcode()");
						$("#getcode").text('发送验证码');
						return;
					}
					time--;
					msgs = time + "s后重发";
					$("#getcode").text(msgs);
				}, 1000);
			}

			//获取验证码
			function getcode() {
				var mobile = $.trim($("#Mobile").val());
				var code = $.trim($("#ImgCode").val());
				if (mobile == '') {
					$.alert("手机号码不能为空！");
					return false;
				}
				if (!mobile.match(/^((1[3-9][0-9]{1})+\d{8})$/)) {
					$.alert("手机号码格式不正确！");
					return;
				}
				if (code == '') {
					$.alert("请输入图形验证码！");
					return;
				}
				$.ajax({
					type: 'post',
					url: '{:U("common/getcode")}',
					data: {mobile: mobile,code:code,check: 0},
					dataType: 'json',
					success: function (res) {
						if (res.result==1) {
							times();
							$("#getcode").removeAttr("onclick");
                            $.alert(res.message);
						}else{
							$.alert(res.message);
						}
					}
				});
			}
			  //判断android还是ios
			  function checkPlatform(){
				  if(/android/i.test(navigator.userAgent)){
					  return 'android';
				  }else if(/(iPhone|iPad|iPod|iOS)/i.test(navigator.userAgent)){
					  return 'ios';
				  }else{
				  	  return 'other';
				  }
			  }
			  //登录功能
			  function fn_login() {
				  var PhoneType = checkPlatform();
				  $('#PhoneType').val(PhoneType);
				  var Mobile = $.trim($('#Mobile').val());
				  var Password = $.trim($("#Password").val());
				  if (Mobile=='') {
					 // XB.Tip('请输入请输入手机号');
					 $.alert("请输入手机号");
					  return false;
				  }
				  if(!Mobile.match(/^((1[3-9][0-9]{1})+\d{8})$/)){
					  //XB.Tip('您输入的手机号格式不正确!');
					  $.alert("您输入的手机号格式不正确!");
					  return false;
				  }
				  if (Password=='') {
					  //XB.Tip('请输入您的密码!');
					  $.alert("请输入您的验证码!");
					  return false;
				  }
				  if($("#agreen1").length>0&&!$("#agreen1").hasClass("select_agree")){
					$.alert('请认真阅读《注册协议》并勾选');
					return false;
				  }
				  if($("#agreen2").length>0&&!$("#agreen2").hasClass("select_agree")){
					$.alert('请认真阅读《注册协议》并勾选');
					return false;
				  }
				  if($("#agreen3").length>0&&!$("#agreen3").hasClass("select_agree")){
					$.alert('请认真阅读《注册协议》并勾选');
					return false;
				  }

				  //提交
				  $.ajax({
					  type: "POST",
					  url: "<?php echo U('Login/ajaxLogin');?>",
					  data: $('#formf').serialize(),
					  dataType: "json",
					  success: function (data) {
						  if (data.result == 1) {
							  var backsrc = "{$back}";
//							  $('#uclogins').html(data.des);//输出同步登录
							  if (backsrc) {
								  window.location.href = backsrc;
							  } else {
								  window.location.href = "{:U('Member/index')}";
							  }

						  } else {
							  //XB.Tip(data.message);
							  $.alert(data.message);
							  $('#CodeImg').attr('src', "{:U('Common/selfverify')}?" + Math.random())
						  }
					  }
				  });
			  }
		</script>