<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="禁止通过URL下载文件的规则" patternSyntax="Wildcard" stopProcessing="true">
                    <match url="*" />
                    <conditions logicalGrouping="MatchAny">
                        <add input="{URL}" pattern="/Upload/Files/*.*" />
                        <add input="{URL}" pattern="/Upload/Video/*.*" />
                        <add input="{URL}" pattern="/Backup/Database/*.*" />
                    </conditions>
                    <action type="Redirect" url="/ReMind/404.html" />
                </rule>
                <rule name="隐藏index.php的规则" stopProcessing="true">
                    <match url="^(.*)$" ignoreCase="false" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" ignoreCase="false" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" ignoreCase="false" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="index.php/{R:1}" appendQueryString="true" />
                </rule>
            </rules>
        </rewrite>
        
    </system.webServer>
</configuration>
