@charset "UTF-8";
html{
	font-family: "Helvetica Neue", Helvetica, sans-serif;
	font-size: 20px;
}
html,body {
	-webkit-touch-callout:none;
	-webkit-text-size-adjust:none;
	-webkit-tap-highlight-color:rgba(0, 0, 0, 0);
	width: 100%;
}
body {
	line-height: 1.5;
	font-size: 0.8rem;
	color: #212121;
	background-color: #f5f5f5;
	outline: 0;
}
html,body,header,section,footer,div,ul,ol,li,img,a,span,em,del,legend,center,strong,var,fieldset,form,label,dl,dt,dd,cite,input,hr,time,mark,code,figcaption,figure,textarea,h1,h2,h3,h4,h5,h6,p{
	margin:0;
	border:0;
	padding:0;
	font-style:normal;
}
* {
	-webkit-box-sizing: border-box;
	      	box-sizing: border-box;
	-webkit-tap-highlight-color: transparent;
	outline: none;
}
@media only screen and (min-width: 400px) {
	html {
		font-size: 21.33333333px !important;
	}
}
@media only screen and (min-width: 414px) {
	html {
		font-size: 21px !important;
	}
}
@media only screen and (min-width: 480px) {
	html {
		font-size: 25.6px !important;
	}
}
ul, li {
	list-style: none;
}
p {
	font-size: 0.7rem;
	color: #757575;
}
a {
	color: #0062cc;
	text-decoration: none;
	background-color: transparent;
}
textarea {
	overflow: hidden;
	resize: none;
}
button {
	overflow: visible;
}
button,select {
	text-transform: none;
}
button,input,select,textarea {
	font: inherit;
	color: inherit;
}
/*flex手机布局神器*/
.stitle{width: 100%;height:2.7rem;color: #fff;font-weight: bold;line-height: 2.7rem;padding-left:.5rem;font-size: 1rem;}
.stitle.cor1{background-color: #5ed3b6;}
.stitle.cor2{background-color: #c7ac8f;}
.stitle.cor3{background-color: #50bfea;}
.stitle.cor4{background-color: #fcbe51;}
.stitle.cor5{background-color: #f37e53;}
.stitle.cor6{background-color: #a3cda5;}

.content{width: 100%;display: flex;background-color: #fff;flex-direction: column;padding: .1rem .5rem;}
.content .item{width: 100%;color: #000;line-height:1.5rem;}
.content .ditem{width: 100%;padding: .4rem 0;}
.content .ditem .item{line-height: 1.2rem;}

.num1{padding:.1rem .3rem;color: #fff;line-height: 1.5rem;background-color: #47bce9;}
.sp{color: #666;font-size:.7rem;}
.num2{padding:.1rem .3rem;color: #47bce9;line-height: 1.5rem;background-color: #dcd8d7;}
.num3{padding:.1rem .3rem;color: #fff;line-height: 1.5rem;background-color: #47bce9;border-radius: 1.5rem;}
.num4{padding:.1rem .3rem;color: #fff;line-height: 1.5rem;background-color: #fcbe51;border-radius: 1.5rem;}
.num5{padding:.1rem .3rem;color: #fff;line-height: 1.5rem;background-color: #39c56e;}
.num6{padding:.1rem .3rem;color: #fff;line-height: 1.5rem;background-color: #cfcecc;}

/*网贷查询页面*/
.newimg{width: 100%;}
.newimg img{width: 100%;display: block;}

.form{width: 100%;display: flex;padding: .5rem 1rem;flex-direction: column;}
.form .item{width: 100%;height:2.5rem;margin: .2rem 0;display: flex;}
.form .item input{flex: 1 1 auto;border-radius:.5rem;background-color: #e5e5e5;padding-left: 1rem;}
.form .item a{flex: 0 1 4.5rem;background-color: #ff766c;color: #fff;text-align: center;line-height: 2.5rem;border-radius:.5rem;margin-left: .5rem;}

.btnchaxun{width:100%;height: 2.5rem;background-color: #ff766c;color: #fff;text-align: center;line-height: 2.5rem;border-radius:.5rem;border:none;margin-top:.5rem;}

.tiaokuan{width: 100%;text-align: center;margin-top: 1rem;}

/*输入验证码*/
.win{width:100%;height:5rem;margin: auto;position:absolute;top: 11rem;z-index: 999;display: none;}
.winflex{display: flex;flex-direction: column;width: 12rem;height:5rem;margin:auto;background-color: #fff;border-radius:.5rem;justify-content:space-around;align-items: center;}
.yzm{display: flex;justify-content: space-around;width: 100%;}
.yzm input{border:1px solid #dedede;height:1.6rem;}
.yzm .btna{background-color: #ff766c;height:1.6rem;color: #fff;line-height:1.6rem;text-align: center;padding: 0 .3rem;}
.winflex .img{width:4rem;height:1.5rem;}
.winflex .img img{width:4rem;height:1.5rem;}

/*新的贷款列表页面*/
.dktop{width: 100%;display: flex;height:3rem;background-color: #fff;align-items: center;border-bottom: 1px solid #dedede;}
.dktop .item{flex: 1 1 auto;text-align: center;display: flex;justify-content: space-around;margin: 0 .1rem;}
.dktop div + .item{border-left:1px solid #d1d1d1;}
.dktop .item span{color: #000;font-size: .7rem;}
.dktop .item .dkimg{width:1.1rem;height:1.1rem;}
.dktop .item .xlimg{width:1rem;height: 1rem;}

/*下拉菜单*/
.xiala{width: 100%;position: absolute;top: 3rem;left: 0;z-index: 33;bottom: 0;right: 0;display: none;background-color: #fff;}
.xiala ul .cover{width: 100%;height: 100%;z-index:34;background-color:#fff;position: absolute;}

/*
.xiala ul > li{padding: 0 0.04rem 0 0.24rem;font-size: .6rem;line-height: 2.2rem;background-color: #fff;position: relative;border-top:1px solid #e2e2e2;z-index: 35;}
*/

.xiala ul > li{font-size: .6rem;line-height:1.8rem;background-color: #fff;position: relative;border:1px solid #e2e2e2;z-index: 35;border-radius:1.8rem;margin:0 5% .5rem 5%;width: 90%;text-align: center;font-size: .7rem;color: #000;line-height: 1.8rem;}

.xiala ul:first-child{margin-top: .5rem;}

.xiala ul > li.focus{background-color: #0094ff;color: #fff;}
/*
.xiala ul > li.focus i{float: right;width: .8rem;height: .8rem;background: url(../images/ok.png) no-repeat;background-size: contain;margin-top:.8rem;}
*/
.dklist{width: 100%;margin-top: .1rem;display: flex;flex-direction: column;position: fixed;top:3rem;bottom:0;}
.dklist .item{display: flex;border-bottom: 1px solid #dedede; padding: .2rem;
	background-color: #fff;width: 100%;justify-content: space-around;align-items: center;}
.dklist .item .tximg{height:2.5rem;border-radius: 100%;flex: 0 1 2.5rem;width: 2.5rem;}
.dklist .item .zuo{flex: 0 1 60%;margin-left: .2rem;}
.dklist .item .you{flex: 0 1 40%;margin-top: 1rem;text-align: right;}
.dklist .item p{font-size: .6rem;color: #666;line-height: 1rem;}
.dklist .item p.ptitle{font-size: .7rem; color: #000;line-height: 1.3rem;}
.dklist .item p .red{color: #f00;}
.dklist .item p .xj{padding-left: 1rem;background: url(../images/sj.png) no-repeat;background-size:contain;width: .8rem;height: .8rem;}
.dklist .item p .ooo{color: #ff5f00;}

.more {height: 40px;line-height: 40px;border-radius: 3px;color: #666;margin: 0 auto;cursor: pointer;text-align: center;font-size: 14px;font-family: '微软雅黑';border: 0 none;}

/*历史记录*/
.lishi{width: 100%;float: left;}
.lishia{width: 100%;line-height:2rem;background-color: #fff;border-bottom: 1px solid #dedede;display: flex;height: 2rem;justify-content: space-around;}
.lishia span{color: #000;}

.lishi p{text-align: center; color: #000;padding-top: 1rem;}

/*支付页面*/
.zhifu{width: 100%;padding-top:.5rem;}
.zhifu p{line-height: 2rem;color: #000;text-align: center;}
.zhifu a{display: block;line-height: 2rem;width:90%;margin: 0 auto;background-color: #1aad19;color: #fff;text-align: center;height: 2rem;border:1px solid rgba(0,0,0,.2);border-radius: 2rem;}