<include file="Shared:Header" />
<style>
    .panel-title {
        height: 24px;
        line-height: 24px;
    }
</style>
<body class="easyui-layout" style="margin-left:1px;margin-top:1px;">
    <div data-options="region:'west',collapsible:false,border:true,width:180,title:'栏目分类'">
        <ul id="LeftTree"></ul>
    </div>
    <div data-options="region:'center',border:false" style="overflow:hidden;">
        <iframe name="iframe" id="iframe" width="100%" height="100%" frameborder="0" scrolling="no"></iframe>d
    </div>
    <script type="text/javascript">
        $(function () {
            $("#iframe").attr("src", "__URL__/lists/");
            $('#LeftTree').tree({
                url: 'DataTree',
                animate: true,
                lines: true,
                onClick: function (node) {
                    console.log(node);
                    if (true) {

                        $("#iframe").attr("src", "{:U('System/Adcontent/lists')}?AdvertisingID=" + node.ID + "");

                    }else if (node.attributes.category == 'N') {
                        $("#iframe").attr("src", "__URL__/single/?AdvertisingID=" + node.ID + "");
                    }
                }
            });
        })

        function placeSubNode($nodeId, $nodeText)
        {
            $html = '<li><div id="_easyui_tree_1" data-id="'+$nodeId+'" class="tree-node tree-root-first"><span class="tree-indent tree-join"></span><span class="tree-icon tree-file "></span><span class="tree-title">'+$nodeText+'</span></div></li>';
        }
    </script>
</body>
<include file="Shared:Footer" />
