<!doctype html>
<html lang="en">
 <head>
  <meta charset="UTF-8">
  <meta name="Author" content="">
  <meta name="Keywords" content="">
  <meta name="Description" content="">
  <title>支付成功</title>
 </head>
 <body>
	<h1 style="text-align:center;margin-top:100px" id="success" onClick="ttt()">支付成功</h1>
 </body>
 <script type="text/javascript">
	
	function ttt(){
		window.location.href = "http://ryj.yunhushuju.com/member/index";
		window.location.href = "wxd://paySuccess"
		window.java_obj.getSource();
	}
</script>
</html>
<!---->



