<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>icon</title>
    <link href="__PUBLIC__/Admin/images/H/Main.css" rel="stylesheet" />
    <style type="text/css">
        div {
            float: left;
            width: 22px;
            height: 22px;
            cursor: pointer;
            border-right: 1px solid #e0e0e0;
            border-bottom: 1px solid #e0e0e0;
        }
    </style>
</head>
<body>
<div class="icon1" onclick="Add(this)"></div>
<div class="icon2" onclick="Add(this)"></div>
<div class="icon3" onclick="Add(this)"></div>
<div class="icon4" onclick="Add(this)"></div>
<div class="icon5" onclick="Add(this)"></div>
<div class="icon6" onclick="Add(this)"></div>
<div class="icon7" onclick="Add(this)"></div>
<div class="icon8" onclick="Add(this)"></div>
<div class="icon9" onclick="Add(this)"></div>
<div class="icon10" onclick="Add(this)"></div>
<div class="icon11" onclick="Add(this)"></div>
<div class="icon12" onclick="Add(this)"></div>
<div class="icon13" onclick="Add(this)"></div>
<div class="icon14" onclick="Add(this)"></div>
<div class="icon15" onclick="Add(this)"></div>
<div class="icon16" onclick="Add(this)"></div>
<div class="icon17" onclick="Add(this)"></div>
<div class="icon18" onclick="Add(this)"></div>
<div class="icon19" onclick="Add(this)"></div>
<div class="icon20" onclick="Add(this)"></div>
<div class="icon21" onclick="Add(this)"></div>
<div class="icon22" onclick="Add(this)"></div>
<div class="icon23" onclick="Add(this)"></div>
<div class="icon24" onclick="Add(this)"></div>
<div class="icon25" onclick="Add(this)"></div>
<div class="icon26" onclick="Add(this)"></div>
<div class="icon27" onclick="Add(this)"></div>
<div class="icon28" onclick="Add(this)"></div>
<div class="icon29" onclick="Add(this)"></div>
<div class="icon30" onclick="Add(this)"></div>
<div class="icon31" onclick="Add(this)"></div>
<div class="icon32" onclick="Add(this)"></div>
<div class="icon33" onclick="Add(this)"></div>
<div class="icon34" onclick="Add(this)"></div>
<div class="icon35" onclick="Add(this)"></div>
<div class="icon36" onclick="Add(this)"></div>
<div class="icon37" onclick="Add(this)"></div>
<div class="icon38" onclick="Add(this)"></div>
<div class="icon39" onclick="Add(this)"></div>
<div class="icon40" onclick="Add(this)"></div>
<div class="icon41" onclick="Add(this)"></div>
<div class="icon42" onclick="Add(this)"></div>
<div class="icon43" onclick="Add(this)"></div>
<div class="icon44" onclick="Add(this)"></div>
<div class="icon45" onclick="Add(this)"></div>
<div class="icon46" onclick="Add(this)"></div>
<div class="icon47" onclick="Add(this)"></div>
<div class="icon48" onclick="Add(this)"></div>
<div class="icon49" onclick="Add(this)"></div>
<div class="icon50" onclick="Add(this)"></div>
<div class="icon51" onclick="Add(this)"></div>
<div class="icon52" onclick="Add(this)"></div>
<div class="icon53" onclick="Add(this)"></div>
<div class="icon54" onclick="Add(this)"></div>
<div class="icon55" onclick="Add(this)"></div>
<div class="icon56" onclick="Add(this)"></div>
<div class="icon57" onclick="Add(this)"></div>
<div class="icon58" onclick="Add(this)"></div>
<div class="icon59" onclick="Add(this)"></div>
<div class="icon60" onclick="Add(this)"></div>
<div class="icon61" onclick="Add(this)"></div>
<div class="icon62" onclick="Add(this)"></div>
<div class="icon63" onclick="Add(this)"></div>
<div class="icon64" onclick="Add(this)"></div>
<div class="icon65" onclick="Add(this)"></div>
<div class="icon66" onclick="Add(this)"></div>
<div class="icon67" onclick="Add(this)"></div>
<div class="icon68" onclick="Add(this)"></div>
<div class="icon69" onclick="Add(this)"></div>
<div class="icon70" onclick="Add(this)"></div>
<div class="icon71" onclick="Add(this)"></div>
<div class="icon72" onclick="Add(this)"></div>
<div class="icon73" onclick="Add(this)"></div>
<div class="icon74" onclick="Add(this)"></div>
<div class="icon75" onclick="Add(this)"></div>
<div class="icon76" onclick="Add(this)"></div>
<div class="icon77" onclick="Add(this)"></div>
<div class="icon78" onclick="Add(this)"></div>
<div class="icon79" onclick="Add(this)"></div>
<div class="icon80" onclick="Add(this)"></div>
<div class="icon81" onclick="Add(this)"></div>
<div class="icon82" onclick="Add(this)"></div>
<div class="icon83" onclick="Add(this)"></div>
<div class="icon84" onclick="Add(this)"></div>
<div class="icon85" onclick="Add(this)"></div>
<div class="icon86" onclick="Add(this)"></div>
<div class="icon87" onclick="Add(this)"></div>
<div class="icon88" onclick="Add(this)"></div>
<div class="icon89" onclick="Add(this)"></div>
<div class="icon90" onclick="Add(this)"></div>
<div class="icon91" onclick="Add(this)"></div>
<div class="icon92" onclick="Add(this)"></div>
<div class="icon93" onclick="Add(this)"></div>
<div class="icon94" onclick="Add(this)"></div>
<div class="icon95" onclick="Add(this)"></div>
<div class="icon96" onclick="Add(this)"></div>
<div class="icon97" onclick="Add(this)"></div>
<div class="icon98" onclick="Add(this)"></div>
<div class="icon99" onclick="Add(this)"></div>
<div class="icon100" onclick="Add(this)"></div>
<div class="icon101" onclick="Add(this)"></div>
<div class="icon102" onclick="Add(this)"></div>
<div class="icon103" onclick="Add(this)"></div>
<div class="icon104" onclick="Add(this)"></div>
<div class="icon105" onclick="Add(this)"></div>
<div class="icon106" onclick="Add(this)"></div>
<div class="icon107" onclick="Add(this)"></div>
<div class="icon108" onclick="Add(this)"></div>
<div class="icon109" onclick="Add(this)"></div>
<div class="icon110" onclick="Add(this)"></div>
<div class="icon111" onclick="Add(this)"></div>
<div class="icon112" onclick="Add(this)"></div>
<div class="icon113" onclick="Add(this)"></div>
<div class="icon114" onclick="Add(this)"></div>
<div class="icon115" onclick="Add(this)"></div>
<div class="icon116" onclick="Add(this)"></div>
<div class="icon117" onclick="Add(this)"></div>
<div class="icon118" onclick="Add(this)"></div>
<div class="icon119" onclick="Add(this)"></div>
<div class="icon120" onclick="Add(this)"></div>
<div class="icon121" onclick="Add(this)"></div>
<div class="icon122" onclick="Add(this)"></div>
<div class="icon123" onclick="Add(this)"></div>
<div class="icon124" onclick="Add(this)"></div>
<div class="icon125" onclick="Add(this)"></div>
<div class="icon126" onclick="Add(this)"></div>
<div class="icon127" onclick="Add(this)"></div>
<div class="icon128" onclick="Add(this)"></div>
<div class="icon129" onclick="Add(this)"></div>
<div class="icon130" onclick="Add(this)"></div>
<div class="icon131" onclick="Add(this)"></div>
<div class="icon132" onclick="Add(this)"></div>
<div class="icon133" onclick="Add(this)"></div>
<div class="icon134" onclick="Add(this)"></div>
<div class="icon135" onclick="Add(this)"></div>
<div class="icon136" onclick="Add(this)"></div>
<div class="icon137" onclick="Add(this)"></div>
<div class="icon138" onclick="Add(this)"></div>
<div class="icon139" onclick="Add(this)"></div>
<div class="icon140" onclick="Add(this)"></div>
<div class="icon141" onclick="Add(this)"></div>
<div class="icon142" onclick="Add(this)"></div>
<div class="icon143" onclick="Add(this)"></div>
<div class="icon144" onclick="Add(this)"></div>
<div class="icon145" onclick="Add(this)"></div>
<div class="icon146" onclick="Add(this)"></div>
<div class="icon147" onclick="Add(this)"></div>
<div class="icon148" onclick="Add(this)"></div>
<div class="icon149" onclick="Add(this)"></div>
<div class="icon150" onclick="Add(this)"></div>
<div class="icon151" onclick="Add(this)"></div>
<div class="icon152" onclick="Add(this)"></div>
<div class="icon153" onclick="Add(this)"></div>
<div class="icon154" onclick="Add(this)"></div>
<div class="icon155" onclick="Add(this)"></div>
<div class="icon156" onclick="Add(this)"></div>
<div class="icon157" onclick="Add(this)"></div>
<div class="icon158" onclick="Add(this)"></div>
<div class="icon159" onclick="Add(this)"></div>
<div class="icon160" onclick="Add(this)"></div>
<div class="icon161" onclick="Add(this)"></div>
<div class="icon162" onclick="Add(this)"></div>
<div class="icon163" onclick="Add(this)"></div>
<div class="icon164" onclick="Add(this)"></div>
<div class="icon165" onclick="Add(this)"></div>
<div class="icon166" onclick="Add(this)"></div>
<div class="icon167" onclick="Add(this)"></div>
<div class="icon168" onclick="Add(this)"></div>
<div class="icon169" onclick="Add(this)"></div>
<div class="icon170" onclick="Add(this)"></div>
<div class="icon171" onclick="Add(this)"></div>
<div class="icon172" onclick="Add(this)"></div>
<div class="icon173" onclick="Add(this)"></div>
<div class="icon174" onclick="Add(this)"></div>
<div class="icon175" onclick="Add(this)"></div>
<div class="icon176" onclick="Add(this)"></div>
<div class="icon177" onclick="Add(this)"></div>
<div class="icon178" onclick="Add(this)"></div>
<div class="icon179" onclick="Add(this)"></div>
<div class="icon180" onclick="Add(this)"></div>
<div class="icon181" onclick="Add(this)"></div>
<div class="icon182" onclick="Add(this)"></div>
<div class="icon183" onclick="Add(this)"></div>
<div class="icon184" onclick="Add(this)"></div>
<div class="icon185" onclick="Add(this)"></div>
<div class="icon186" onclick="Add(this)"></div>
<div class="icon187" onclick="Add(this)"></div>
<div class="icon188" onclick="Add(this)"></div>
<div class="icon189" onclick="Add(this)"></div>
<div class="icon190" onclick="Add(this)"></div>
<div class="icon191" onclick="Add(this)"></div>
<div class="icon192" onclick="Add(this)"></div>
<div class="icon193" onclick="Add(this)"></div>
<div class="icon194" onclick="Add(this)"></div>
<div class="icon195" onclick="Add(this)"></div>
<div class="icon196" onclick="Add(this)"></div>
<div class="icon197" onclick="Add(this)"></div>
<div class="icon198" onclick="Add(this)"></div>
<div class="icon199" onclick="Add(this)"></div>
<div class="icon200" onclick="Add(this)"></div>
<div class="icon201" onclick="Add(this)"></div>
<div class="icon202" onclick="Add(this)"></div>
<div class="icon203" onclick="Add(this)"></div>
<div class="icon204" onclick="Add(this)"></div>
<div class="icon205" onclick="Add(this)"></div>
<div class="icon206" onclick="Add(this)"></div>
<div class="icon207" onclick="Add(this)"></div>
<div class="icon208" onclick="Add(this)"></div>
<div class="icon209" onclick="Add(this)"></div>
<div class="icon210" onclick="Add(this)"></div>
<div class="icon211" onclick="Add(this)"></div>
<div class="icon212" onclick="Add(this)"></div>
<div class="icon213" onclick="Add(this)"></div>
<div class="icon214" onclick="Add(this)"></div>
<div class="icon215" onclick="Add(this)"></div>
<div class="icon216" onclick="Add(this)"></div>
<div class="icon217" onclick="Add(this)"></div>
<div class="icon218" onclick="Add(this)"></div>
<div class="icon219" onclick="Add(this)"></div>
<div class="icon220" onclick="Add(this)"></div>
<div class="icon221" onclick="Add(this)"></div>
<div class="icon222" onclick="Add(this)"></div>
<div class="icon223" onclick="Add(this)"></div>
<div class="icon224" onclick="Add(this)"></div>
<div class="icon225" onclick="Add(this)"></div>
<div class="icon226" onclick="Add(this)"></div>
<div class="icon227" onclick="Add(this)"></div>
<div class="icon228" onclick="Add(this)"></div>
<div class="icon229" onclick="Add(this)"></div>
<div class="icon230" onclick="Add(this)"></div>
<div class="icon231" onclick="Add(this)"></div>
<div class="icon232" onclick="Add(this)"></div>
<div class="icon233" onclick="Add(this)"></div>
<div class="icon234" onclick="Add(this)"></div>
<div class="icon235" onclick="Add(this)"></div>
<div class="icon236" onclick="Add(this)"></div>
<div class="icon237" onclick="Add(this)"></div>
<div class="icon238" onclick="Add(this)"></div>
<div class="icon239" onclick="Add(this)"></div>
<div class="icon240" onclick="Add(this)"></div>
<div class="icon241" onclick="Add(this)"></div>
<div class="icon242" onclick="Add(this)"></div>
<div class="icon243" onclick="Add(this)"></div>
<div class="icon244" onclick="Add(this)"></div>
<div class="icon245" onclick="Add(this)"></div>
<div class="icon246" onclick="Add(this)"></div>
<div class="icon247" onclick="Add(this)"></div>
<div class="icon248" onclick="Add(this)"></div>
<div class="icon249" onclick="Add(this)"></div>
<div class="icon250" onclick="Add(this)"></div>
<div class="icon251" onclick="Add(this)"></div>
<div class="icon252" onclick="Add(this)"></div>
<div class="icon253" onclick="Add(this)"></div>
<div class="icon254" onclick="Add(this)"></div>
<div class="icon255" onclick="Add(this)"></div>
<div class="icon256" onclick="Add(this)"></div>
<div class="icon257" onclick="Add(this)"></div>
<div class="icon258" onclick="Add(this)"></div>
<div class="icon259" onclick="Add(this)"></div>
<div class="icon260" onclick="Add(this)"></div>
<div class="icon261" onclick="Add(this)"></div>
<div class="icon262" onclick="Add(this)"></div>
<div class="icon263" onclick="Add(this)"></div>
<div class="icon264" onclick="Add(this)"></div>
<div class="icon265" onclick="Add(this)"></div>
<div class="icon266" onclick="Add(this)"></div>
<div class="icon267" onclick="Add(this)"></div>
<div class="icon268" onclick="Add(this)"></div>
<div class="icon269" onclick="Add(this)"></div>
<div class="icon270" onclick="Add(this)"></div>
<div class="icon271" onclick="Add(this)"></div>
<div class="icon272" onclick="Add(this)"></div>
<div class="icon273" onclick="Add(this)"></div>
<div class="icon274" onclick="Add(this)"></div>
<div class="icon275" onclick="Add(this)"></div>
<div class="icon276" onclick="Add(this)"></div>
<div class="icon277" onclick="Add(this)"></div>
<div class="icon278" onclick="Add(this)"></div>
<div class="icon279" onclick="Add(this)"></div>
<div class="icon280" onclick="Add(this)"></div>
<div class="icon281" onclick="Add(this)"></div>
<div class="icon282" onclick="Add(this)"></div>
<div class="icon283" onclick="Add(this)"></div>
<div class="icon284" onclick="Add(this)"></div>
<div class="icon285" onclick="Add(this)"></div>
<div class="icon286" onclick="Add(this)"></div>
<div class="icon287" onclick="Add(this)"></div>
<div class="icon288" onclick="Add(this)"></div>
<div class="icon289" onclick="Add(this)"></div>
<div class="icon290" onclick="Add(this)"></div>
<div class="icon291" onclick="Add(this)"></div>
<div class="icon292" onclick="Add(this)"></div>
<div class="icon293" onclick="Add(this)"></div>
<div class="icon294" onclick="Add(this)"></div>
<div class="icon295" onclick="Add(this)"></div>
<div class="icon296" onclick="Add(this)"></div>
<div class="icon297" onclick="Add(this)"></div>
<div class="icon298" onclick="Add(this)"></div>
<div class="icon299" onclick="Add(this)"></div>
<div class="icon300" onclick="Add(this)"></div>
<div class="icon301" onclick="Add(this)"></div>
<div class="icon302" onclick="Add(this)"></div>
<div class="icon303" onclick="Add(this)"></div>
<div class="icon304" onclick="Add(this)"></div>
<div class="icon305" onclick="Add(this)"></div>
<div class="icon306" onclick="Add(this)"></div>
<div class="icon307" onclick="Add(this)"></div>
<div class="icon308" onclick="Add(this)"></div>
<div class="icon309" onclick="Add(this)"></div>
<div class="icon310" onclick="Add(this)"></div>
<div class="icon311" onclick="Add(this)"></div>
<div class="icon312" onclick="Add(this)"></div>
<div class="icon313" onclick="Add(this)"></div>
<div class="icon314" onclick="Add(this)"></div>
<div class="icon315" onclick="Add(this)"></div>
<div class="icon316" onclick="Add(this)"></div>
<div class="icon317" onclick="Add(this)"></div>
<div class="icon318" onclick="Add(this)"></div>
<div class="icon319" onclick="Add(this)"></div>
<div class="icon320" onclick="Add(this)"></div>


<script src="__PUBLIC__/Admin/JS/jquery.min.js"></script>
<script src="__PUBLIC__/Admin/JS/XB.js"></script>
<script type="text/javascript">
    function Add(T) {
        var $ID = $.XB.findiframe2();
        if ($ID== null)
        {
            var $ID = $.XB.findiframe();
        }
        $ID = $ID.$("#Icon");
        $ID.textbox('setValue', $(T).attr('class'));
        $ID.textbox({ iconCls: $(T).attr('class') });
        parent.$('#W1').window('close');
    }
</script>
</body>
</html>