<include file="Shared:Header" />
<style type="text/css">
    .btn{
        padding: 5px 10px ;
        border-radius: 4px;
        color: #eee;
    }
    .add{
        background-color: #0092DC;
    }
    .rem{
        background-color: #ffa8a8;
    }
</style>
<body class="Bodybg">
<form id="FF" class="easyui-form" method="post" data-options="novalidate:true">
    <table width="100%" border="0" height="100px">
        <tbody>
        <tr >
            <td width="120" align="right"><span class="Red">*</span>注册人数：</td>
            <td>
                <input id="registerNum" name="registerNum" type="text" class="easyui-numberbox" data-options="required:true"/>
            </td>
        </tr>
        
        </tbody>
    </table>
    <input type="hidden" id="ID" name="ID" value="{$ID}"/>
</form>
<script>
</script>
</body>
<include file="Shared:Footer" />
