<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link type="text/css" href="__PUBLIC__/css/jquery-weui.min.css" rel="stylesheet">
    <link type="text/css" href="__PUBLIC__/css/weui.min.css"  rel="stylesheet"/>
    <link rel="stylesheet" href="__PUBLIC__/css/app.css">
    <title><?php echo $SEOTitle?$SEOTitle:$GLOBALS['BasicInfo']['SEOTitle'];?></title>
</head>
<body>

        <header class="header">
            <a href="<?php echo U('Daibeishop/checkinfo').'?uid='.$uid.'&id='.$id;?>" class="go_left"></a>
            <span class="header_til">{$pages['Title']}</span>
        </header>

        <!---->
        <section style="padding: 10px; color: #999;  margin-top: 50px;">
            {$pages['Contents']|htmlspecialchars_decode}
        </section>
<script src="__PUBLIC__/js/jquery-2.1.4.js"></script>
<script src="__PUBLIC__/js/jquery-weui.min.js"></script>
<script src="__PUBLIC__/js/common.js"></script>
</body>
</html>