<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8"> 
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black"> 
        <link type="text/css" href="__PUBLIC__/css/jquery-weui.min.css" rel="stylesheet">
		<link type="text/css" href="__PUBLIC__/css/weui.min.css"  rel="stylesheet"/>
        <link type="text/css" href="__PUBLIC__/css/app.css"  rel="stylesheet"/>
        <!--<link rel="stylesheet" href="__PUBLIC__/css/dropload.css" />-->
		<title><?php echo $SEOTitle?$SEOTitle:$GLOBALS['BasicInfo']['SEOTitle'];?></title> 
		<style>
			.weui-panel__bd a{
				border: 1px solid #fff;
			}
			.weui-media-box:before{
				
			}
			.weui-panel__bd{
				border-bottom: none;
			}
		</style>
	</head>
	<body> 
		<header class="header" >
			<a href="javascript:history.go(-1)" class="go_left"></a> 
			<span class="header_til">信用卡</span>
		</header>  
		<div  style="height: 42px;"></div>

		<ul class="ul_navAdd">
			<li><a href="<?php echo U('Daibeishop/platweb').'?uid='.$uid?>"  >贷款产品</a></li>
			<li><a href="<?php echo U('Daibeishop/index').'?uid='.$uid?>" class="cur">信用卡产品</a></li>
			<li><a href="<?php echo U('Daizenxin/index').'?uid='.$uid;?>">查征信</a></li>
			<div class="clear"></div>
		</ul>
		<section class="hd"></section>
	  <div class="">
	  	 <div class="fl" style="width: 35%; padding:20px 10px; box-sizing: border-box;"> 
	  	    <a href="<?php echo U('Daibeishop/cdetail').'?uid='.$uid.'&id='.$referInfo[0]['ID'];?>">
		      <div  style=" height: 63px;  margin:0 10px;">
		        <h4 class="weui-media-box__title" style="color: #1d84ff;">{$referInfo[0].Name}</h4>
		        <p class="weui-media-box__desc">{$referInfo[0].Intro}</p>
		      </div>
		      <div  style="width: 101px; height: 62px; margin-right:0">
		        <img class="weui-media-box__thumb" src="{$referInfo[0].Logurl}" style="width: 101px; height: 62px;">
		      </div>
		    </a>
	  	 </div>
	  	 <div class="weui-panel__bd fr" style="width:65%;">
	  	 <?php foreach($referInfo as $k=>$v):?>
	  	 	<?php if($k>0):?>
			    <a href="<?php echo U('Daibeishop/cdetail').'?uid='.$uid.'&id='.$v['ID'];?>" class="weui-media-box weui-media-box_appmsg"  > 
			      <div class="weui-media-box__bd">
			        <h4 class="weui-media-box__title" style="color: #ffbc34;">{$v.Name}</h4>
			        <p class="weui-media-box__desc">{$v.Intro}</p>
			      </div>
			      <div class="weui-media-box__hd" style="width: 60px; height: 36px; margin-right:0">
			        <img class="weui-media-box__thumb" src="{$v.Logurl}" style="width: 60px; height: 36px;">
			      </div>
			    </a> 
		    <?php endif;?>
		  <?php endforeach;?>
		  </div>
		 <div class="clear"></div>
	  </div> 
	<?php if($addinfos):?>  
	  <!---->
	  <section class="hd"></section>
	  <section class="shen_section apple1"> 
         <ul> 
         <?php foreach($addinfos as $k=>$v):?>
		    <li class="overa">
		    	 <dl>
		    	 	<dd>{$v.TrueName}于<?php echo date('H:i',$v['Opentime']);?>成功申请交{$v.Name} </dd>
		    	 	<dt>邀请好友办卡成功，奖励金一笔，上不封顶...</dt>
		    	 </dl>
		    </li> 
		  <?php endforeach;?>
		 </ul>
	  </section>
	  <!--end--> 
    <?php endif;?>  
    <!--end-->
     <section class="hd"></section>
         <section class="comt_til comt_til1" style="padding: 10px;">
			<span class="fl" style="border-left: 3px solid #5461eb;"> 秒办卡</span>
			<div class="clear"></div>
		 </section>
		 
		 <section>
		    <article class="khfxWarp" style="padding-bottom:60px;">
				 <section class="itemlist">
				 </section>
			</article>
		 </section>
		 <script src="__PUBLIC__/js/jquery-2.1.4.js"></script>
	     <script src="__PUBLIC__/js/fastclick.js"></script>
		 <script src="__PUBLIC__/js/jquery-weui.min.js"></script> 
		 <script src="__PUBLIC__/js/common.js"></script>  
	</body>
</html>
<script type="text/javascript" src="__PUBLIC__/js/jquery.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/dropload.js"></script>
<script type="text/javascript">
	 //加载更多
    $(function () {
    var current_page=0;
    var uid="{$uid}";
    // dropload
    var dropload = $('.khfxWarp').dropload({
        scrollArea: window,
        loadDownFn: function (me) {

            $.ajax({
                type: 'POST',
                url: "{:U('Daibeishop/getdatas')}",
                data:"pages="+current_page,
                dataType: 'json',
                success: function(data){
                    var result = '';
                    if(!data.result){
                        me.lock();
                        me.noData();
                        me.resetload();
                    }else{
                        for(var i = 0; i < data.message.length; i++) {
                            result+= ''  
	                            +'<dl class="dl_hot dl_hot1" >'
							 		+'<a href=\"{:U("Daibeishop/cdetail")}?uid='+uid+'&id='+data.message[i].ID+'\" class="k_logo" style="top:18px"><img src="'+data.message[i].Logurl+'" style="width:86px; height: 52px; "></a><a href=\"{:U("Daibeishop/cdetail")}?uid='+uid+'&id='+data.message[i].ID+'\">'
							 		+'<dd>'+data.message[i].Name+'</dd>'
							 		+'<dt class="dt2" style="padding-top: 5px;">'
							 		  +'<label class="fl lab_1" >'+data.message[i].BankName+'</label>'
							 		  +'<label class="fl lab_2">专享</label>'  
							 		  +'<span class="fr"><label style="color:#5461eb;font-size:12px">'+data.message[i].AppNumbs+'</label>人申请</span>'
							 		+'</dt></a>'
							 	+'</dl>';
                        }

                        setTimeout(function(){
                            $('.itemlist').append(result);
                            current_page++;
                            me.resetload();
                        },0);
                    }
                },
                error: function(xhr, type){
                    XB.Tip('加载数据出错');
                    // 即使加载出错，也得重置
                    me.lock();
                    me.noData();
                }
            });

        }
    });
});
</script>
